<div class="container">
  <h1 class="text-center">プロフィール編集</h1>

  <%= form_with model: @user, url: profiles_path, local: true do |f| %>
    <div class="mb-3">
      <%= f.label :nickname, class: 'label-control' %>
      <%= f.text_field :nickname, class: 'form-control' %>
    </div>

    <div class="mb-3">
      <%= f.label :bio, class: 'label-control' %>
      <%= f.text_area :bio, class: 'form-control' %>
    </div>

    <div class="mb-3">
      <%= f.label :sns_identifier, class: 'label-control' %>
      <%= f.text_field :sns_identifier, class: 'form-control', placeholder: 'URLを貼り付けてください' %>
    </div>

    <div class="mb-3">
      <%= f.label :avatar, class: 'label-control' %>
      <%= f.file_field :avatar, class: 'form-control' %>
    </div>

    <div class="mb-3">
      <%= image_tag @user.avatar, width: '100', height: '100', class: 'rounded-circle mr15' if @user.avatar.attached? %>
    </div>
    
    <div class="mb-3">
      <%= f.submit '更新', class: 'btn btn-primary' %>
    </div>
  <% end %>
</div>