<div class="container">
  <h1>プロフィール</h1>

  <div class="profile">
    <p>ニックネーム: <%= @user.nickname %></p>
    <p>自己紹介文: <%= @user.bio if @user.bio %></p>

    <% if @user.sns_identifier %>
      <p>SNS:
        <%= link_to @user.sns_identifier, target: :_blank do %>
          <i class="bi bi-instagram"></i>
        <% end %>
      </p>
    <% end %>

    <div class="mb-3">
      <p>プロフィール画像:</p>
      <% @user.avatars.each do |avatar| %>
        <%= image_tag(avatar, width: 200) %>
      <% end %>
    </div>
  </div>

  <%= link_to 'プロフィールを編集', edit_profiles_path, class: 'btn btn-primary' if @user == current_user %><br>
  <% if current_user.talking?(@user) %>
    <%= link_to 'メッセージする', room_path(get_room_id(@user)), class: 'btn btn-primary' %>
  <% else %>
    <%= form_with model: @room, local: true do |f| %>
      <%= f.hidden_field :user_id, value: @user.id %>
      <%= f.submit 'メッセージする', class: 'btn btn-primary' %>
    <% end %>
  <% end %>
  <%= link_to '行きたいリストを見る', '#', class: 'btn btn-primary' %>
</div>