<div class="container">
  <%= search_form_for @q, url: cafes_path, local: true, class: 'd-flex mt-5' do |f| %>
    <%= f.search_field :name_or_address_cont, class: "form-control me-2", placeholder: "カフェを検索", aria_label: "Search" %>
    <%= f.submit "search", class: "btn btn-outline-success" %>
  <% end %>
  <div class="row row-cols-3 mt-5">
    <% @cafes.each do |cafe| %>
      <div class="col">
        <% cafe.images.each do |image| %>
          <%= link_to cafe_path(cafe) do %>
            <%= image_tag image.variant(resize_to_fill: [300, 300]), class: 'img-thumbnail' %>
            <p><%= cafe.name %></p>
          <% end %>
        <% end %>
        <%= render partial: 'likes/like_button', locals: { cafe: cafe } %>
      </div>
    <% end %>
  </div>
  <div class="pagination justify-content-center">
    <%= paginate @cafes, theme: 'bootstrap-5' %>
  </div>
</div>