<div class="container">
  <span><%= link_to 'トーク一覧へ', rooms_path %></span>
  <h4 class="text-center mt-3">トーク画面</h4>
  <div class="message-area" style="height: 450px;" id="messages">
    <%= render partial: 'messages/message', collection: @messages %>
  </div>

  <div id="message-form">
    <%= form_with model: @message do |f| %>
      <%= f.hidden_field :room_id, value: @room.id %>
      <%= f.text_area :content, class: 'form-control', id: 'js-content' %>
      <%= f.submit '送信', class: "btn btn-primary", id: "js-submit-btn" %>
    <% end %>
  </div>
</div>